@charset "UTF-8";
/* tag reset */
*{padding: 0; margin: 0}
html,body{height: 100%}
body{font-size: 1em;line-height: 1.6; color: #333; font-family: 'Nanum Gothic', 'Malgun Gothic', '맑은고딕', Dotum, sans-serif}
h1, h2, h3, h4, h5, h6{font-size: inherit;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit}
ul{list-style: none}
button{font-size: inherit;cursor: pointer;background: none;border: none}
input[type="text"], input[type="search"], textarea, select{padding: 8px;border-radius: 4px;font-family: inherit;font-size: inherit;border: 1px solid #ddd;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}

/* common */
.clearfix::after{content: ""; display: block; clear: both}
.p_r{position: relative;}
.btn{padding: 8px 16px;border: 1px solid #e9ebf1;border-radius: 4px;}
.btn:hover{background: #e6ebf1;font-weight: bold;}
.wrap{height: 100vh;background-color: #e9ebf1}
.footer {position: absolute;left: 0; right: 0; bottom: 40px;font-size: 14px;color: #666;margin-top: 24px;text-align: center;}

/* ========== index.html ========== */
.cnt_main{height: 48%;padding-top: 10%;background: url("../image/main_bg.jpg") left top no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
.cnt_main .logo{width:791px;height: 135px;margin: 0px auto;}
.cnt_main .logo img{position: absolute;left: 0; top: 0px;}
.cnt_main .logo .logo_shadow{left: 3px;top: 4px;}
.cnt_main .search_form{width: 1000px;margin: 8% auto 0;padding: 32px;background-color: #fff;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.3) }
.search_form > div{width:968px;text-align: left;margin-bottom: 16px;}
.search_form .form_top .input_field{float: left;}
.search_form .form_top .input_field + .input_field{margin-left: 32px;}
.search_form .input_field label{display: block;padding-bottom: 8px;}
.search_form .form_top .input_field .input_item{width:144px;height: 40px;}
.search_form .form_top .input_field:last-child .input_item:last-child{width: 277px;margin-left: 14px;}
.search_form .form_btm .input_field input[type="text"]{width: 100%;}
.search_form .btn_box .btn_submit{display: block;width: 112px;margin: 0 auto;text-align: center;margin-top: 48px;}
/* ========== sub.html ========== */
/* .lnb */
.lnb{position: fixed;top: 0; bottom: 0;left: 0;width: 296px; padding: 24px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background: lightblue}
.lnb h1{font-size: 32px;}
.lnb .btn_memo{position: relative;padding: 16px 0;font-size: 14px;}
.lnb .btn_memo:hover::after, .lnb .btn_memo:focus::after{content:"";position: absolute;left: 0; right: 0; bottom: 10px;height: 2px; background-color: #333;}
.schedule .day .trip_date > span{float: left;font-size: 20px;font-weight: 600;}
.schedule .day .trip_date > .fas{float: right;-webkit-transition: transform 0.6s;-moz-transition: transform 0.6s;-o-transition: transform 0.6s;transition: transform 0.6s}
.schedule .day .event{display: none}

.schedule .day.on .trip_date{color: darkcyan}
.schedule .day.on .trip_date > .fas{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg)}

.lnb .footer{position: absolute;bottom: 24px;left: 24px;}

/* .cnt_sub */
.cnt_wrap{margin-left: 296px;padding:24px;}
.cnt_top .tab .tab_tit {float: left}
.cnt_top .tab .tab_tit a{display: block;padding: 16px;font-size: 24px}
.cnt_top .tab .tab_tit a span{position: relative;}
.cnt_top .tab .tab_tit a span::after{content: "";position: absolute; left: 0;width: 0;bottom: -8px; height: 4px;background: #333;-webkit-transition: width 0.5s;-moz-transition: width 0.5s;-o-transition: width 0.5s;transition: width 0.5s}
.cnt_top .tab .tab_tit.on a{font-weight: bold}
.cnt_top .tab .tab_tit.on a span::after{width: 100%}

.cnt{margin-top: 24px;}
.cnt .tab_cnt{display: none}
.cnt .tab_cnt.show{display: block}

.cnt .search_result .result_list ul li a{display: block;background: yellow;}

/* .cnt_spots */
.cnt_spots .search_box .city_search{width: 50%;}
.cnt_spots .search_result .list_tit{font-size: 20px;font-weight: 700}
.cnt_spots .search_result .result_list ul li{float: left;}
.cnt_spots .search_result .result_list ul li a{width: 160px;height: 160px;}